.background-container {
    display: flex;
    height: 100vh;
  }
  
  .left-half {
    flex: 1;
    background-color: #03111B;
  }
  
  .right-half {
    flex: 1;
    background-color:#FFFFFF;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .centered img {
    max-width: 200px;
  }